body {

    font-size:18px;
    margin:0px;
}
h1 {
    
    font-size: 12px;


}
h2 {

}

img {
    max-width: 100%;
}

figure {
    
    margin: 2px;
}

  
        

figcaption{

    font-size: 12px;
    color: white;
}


@media screen and (max-width:650px){

    body{

        background-color:blue; 
        font-size: 20px;
        margin:10px;
    }

    #container1{
         
        
        display: flex;
        flex-direction:row;
        justify-items: center;  
    }
     .p{

        max-width: width 30px;;
        display: flex;
        background-color: teal;
        display: flex;
        


    }

    #container2{
         
        
        display: flex;
        flex-direction:row; 
        justify-items: center;
    }

    .m{
        max-width: 45%;
        width:100%;
        background-color: teal;
        display: flex;
        align-self:flex-start


    }
    
    
  
}

@media screen and (min-width:1200px){

    body{

        background-color:gray; 
        font-size: 30px;
        margin:15px;
        max-width: 100%
        text-align: center;
        
    }
    h1{
       font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    #container1{
         
        
        display: flex;
        flex-direction:row;
        justify-items: center;  
    }
     .p{

        max-width: width 30px;;
        display: flex;
        background-color: teal;
        display: flex;
        


    }

    #container2{
         
        
        display: flex;
        flex-direction:row; 
        
    }

    .m{
        max-width: 50%;
        width:100%;
        background-color: teal;
        display: flex;
        align-self:flex-start


    }
    
    
  
}
